*
{
    font-family: 'Courier New', Courier, monospace;


}
h1{
    color:#1b74e4;

}   
#login
{
    background-color: aqua;
    color: :white;
}
#register
{
    background-color: aqua;
    color:black;
}
#searchbtn
{
    background-color: black;
    color: cornsilk;
}
